/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200);
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}
h1{font-size:2em;margin:0.67em 0}
h2{font-size:1.5em;margin:0.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:0.83em;margin:1.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}
figure{margin:0}form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{
	cursor:default
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;*height:13px;*width:13px
}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
p{-webkit-hyphens:auto;-epub-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
b,strong,.strong{font-weight:bold}dfn,em,.em{font-style:italic}
small,.small{font-size:75%}
ul,ol{padding:0;list-style-type:none}
dd{margin:0}.sidebar ul,.sidebar ol,.commentlist{list-style:none}.clearfix{zoom:1}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.image-replacement{text-indent:100%;white-space:nowrap;overflow:hidden}
span.amp{font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;font-style:italic}.text-left{text-align:left}.text-center{text-align:center}.text-right{text-align:right}.alert-help,.alert-info,.alert-error,.alert-success{margin:10px;padding:5px 18px;border:1px solid}
.alert-help{border-color:#e8dc59;background:#ebe16f}
.alert-info{border-color:#bfe4f4;background:#d5edf8}
.alert-error{border-color:#f8cdce;background:#fbe3e4}	
.alert-success{border-color:#deeaae;background:#e6efc2}
.button,.button:visited{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	border:1px solid #be0d37;
	border-top-color:#db0f3f;
	border-left-color:#db0f3f;
	padding:4px 12px;
	color:#fff;
	display:inline-block;	
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px rgba(0,0,0,0.75);
	cursor:pointer;
	margin-bottom:20px;
	line-height:21px;
	border-radius:4px;
	background-color:#e40f42;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
	background-image:-webkit-linear-gradient(top, #f01d4f, #e40f42);
	background-image:-moz-linear-gradient(top, #f01d4f, #e40f42);
	background-image:-o-linear-gradient(top, #f01d4f, #e40f42);
	background-image:linear-gradient(to bottom, #f01d4f,#e40f42)}
.button:hover,.button:focus,.button:visited:hover,.button:visited:focus{
	color:#fff;
	border:1px solid #be0d37;
	border-top-color:#9d0a2d;
	border-left-color:#9d0a2d;
	background-color:#cc0e3b;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
	background-image:-webkit-linear-gradient(top, #e40f42, #cc0e3b);background-image:-moz-linear-gradient(top, #e40f42, #cc0e3b);background-image:-o-linear-gradient(top, #e40f42, #cc0e3b);
	background-image:linear-gradient(to bottom, #e40f42,#cc0e3b)}
.button:active,.button:visited:active{
	background-color:#f01d4f;background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
	background-image:-webkit-linear-gradient(top, #e40f42, #f01d4f);
	background-image:-moz-linear-gradient(top, #e40f42, #f01d4f);
	background-image:-o-linear-gradient(top, #e40f42, #f01d4f);
	background-image:linear-gradient(to bottom, #e40f42,#f01d4f)}
.blue-button,.blue-button:visited{
	border-color:#1472ad;
	text-shadow:0 1px 1px #1472ad;
	background-color:#1681c4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
	background-image:-webkit-linear-gradient(top, #1990db, #1681c4);
	background-image:-moz-linear-gradient(top, #1990db, #1681c4);
	background-image:-o-linear-gradient(top, #1990db, #1681c4);
	background-image:linear-gradient(to bottom, #1990db,#1681c4);
	box-shadow:inset 0 0 3px #59b3ec
}
.blue-button:hover,.blue-button:focus,.blue-button:visited:hover,.blue-button:visited:focus{
	border-color:#116396;
	background-color:#1472ad;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
	background-image:-webkit-linear-gradient(top, #1784c9, #1472ad);
	background-image:-moz-linear-gradient(top, #1784c9, #1472ad);
	background-image:-o-linear-gradient(top, #1784c9, #1472ad);
	background-image:linear-gradient(to bottom, #1784c9,#1472ad)
}
.blue-button:active,.blue-button:visited:active{
	background-color:#1990db;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
	background-image:-webkit-linear-gradient(top, #1681c4, #1990db);
	background-image:-moz-linear-gradient(top, #1681c4, #1990db);
	background-image:-o-linear-gradient(top, #1681c4, #1990db);
	background-image:linear-gradient(to bottom, #1681c4,#1990db)}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:100%;
	line-height:1.5;
	color:#005568;
}
.wrap{width:96%;margin:0 auto}
a,a:visited{
	color:#005568;
}
/*a:hover,a:focus,a:visited:hover,a:visited:focus{
	color:#005568;
}*/
a:link,a:visited:link{-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering:optimizelegibility;
	font-weight:400;
}
h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a{
	text-decoration:none
}
h1,.h1{font-size:2.5em;line-height:1.333em}
h2,.h2{font-size:1.75em;line-height:1.4em;margin-bottom:0.375em}
h3,.h3{font-size:1.125em}h4,.h4{font-size:1.1em;font-weight:600}
h5,.h5{font-size:0.846em;line-height:2.09em;text-transform:uppercase;letter-spacing:2px}

.nav{
	border:1px solid #ccc;border-bottom:0
}
.nav li a{
	display:block;
	text-decoration:none;
	padding:10px 10px;
	background-color:#fff;
	border-bottom:1px solid #ccc
}
.nav li ul.sub-menu li a,.nav li ul.children li a{padding-left:30px}
#colorStrip{
	position: absolute;
	bottom: 20px;
	height: 10px;
	background: #47973c; /*green*/
	width: 100%;
	z-index: 5;
}
#content{margin-top:2.2em}
.byline{color:#999}
.entry-content dd{margin-left:0;font-size:0.9em;color:#787878;margin-bottom:1.5em}
.entry-content img{margin:0 0 1.5em 0;max-width:100%;height:auto}
.entry-content video,.entry-content object{max-width:100%;height:auto}
.entry-content pre{background:#eee;border:1px solid #cecece;padding:10px}
.wp-caption{max-width:100%;background:#eee;padding:5px}
.wp-caption img{max-width:100%;margin-bottom:0;width:100%}
.wp-caption p.wp-caption-text{font-size:0.85em;margin:4px 0 7px;text-align:center}
.pagination,.wp-prev-next{margin:1.1em 0 2.2em}
.pagination{text-align:center}
.pagination ul{display:inline-block;white-space:nowrap;padding:0;clear:both;margin:1px}
.pagination ul li{padding:0;margin:0;float:left;display:inline;overflow:hidden}
.pagination ul li a,.pagination ul li span{margin:0;text-decoration:none;padding:0;line-height:1em;font-size:1em;font-weight:normal;padding:.5em;min-width:1em;display:block}
.pagination ul li span.current{font-weight:bold}.wp-prev-next .prev-link{float:left}
.wp-prev-next .next-link{float:right}
.commentlist li{position:relative;clear:both;overflow:hidden;list-style-type:none;margin-bottom:1.5em;padding:0.7335em 10px}
.commentlist li:last-child{margin-bottom:0}
.commentlist li ul.children{margin:0}
.commentlist li[class*=depth-]{margin-top:1.1em}
.commentlist li.depth-1{margin-left:0;margin-top:0}
.commentlist li:not(.depth-1){margin-right:-10px;margin-left:-10px;margin-top:0;padding-bottom:0}
.commentlist .odd{background:#eee}
.commentlist .even{background:#fefefe}
.commentlist .vcard{margin-left:50px}
.commentlist .vcard cite.fn{font-weight:600;font-style:normal}
.commentlist .vcard time{float:right}
.commentlist .vcard time a{color:#999;text-decoration:none}
.commentlist .vcard time a:hover{text-decoration:underline}
.commentlist .vcard img.avatar{position:absolute;left:10px;padding:2px;border:1px solid #cecece;background:#fff}
.commentlist .comment_content{margin-left:50px}
.commentlist .comment_content p{margin:0.7335em 0 1.5em;font-size:1em;line-height:1.5em}
.commentlist .comment-reply-link{text-decoration:none;float:right;background:#4598bb;padding:3px 5px;color:#fff;opacity:0.65;margin-bottom:10px;font-weight:600;font-size:0.9em}
.commentlist .comment-reply-link:hover,.commentlist .comment-reply-link:focus{opacity:1}
.respond-form{margin:1.5em 10px;padding-bottom:2.2em}
.respond-form form{margin:0.75em 0}
.respond-form form li{list-style-type:none;clear:both;margin-bottom:0.7335em}
.respond-form form li label,.respond-form form li small{display:none}
.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url],.respond-form form textarea{padding:3px 6px;background:#efefef;border:2px solid #cecece;line-height:1.5em}
.respond-form form input[type=text]:focus,.respond-form form input[type=email]:focus,.respond-form form input[type=url]:focus,.respond-form form textarea:focus{background:#fff}
.respond-form form input[type=text]:invalid,.respond-form form input[type=email]:invalid,.respond-form form input[type=url]:invalid,.respond-form form textarea:invalid{outline:none;border-color:#fbc2c4;background-color:#f6e7eb;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none}.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url]{max-width:400px;min-width:250px}
.respond-form form textarea{resize:none;width:97.3%;height:150px}#comment-form-title{margin:0 0 1.1em}#allowed_tags{margin:1.5em 10px 0.7335em 0}
.nocomments{margin:0 20px 1.1em}.footer{clear:both}

@media only screen and (min-width: 801px){
	.onecol{width:5.801104972%}
	.twocol{width:14.364640883%}
	.threecol{width:22.928176794%}
	.fourcol{width:31.491712705%}
	.fivecol{width:40.055248616%}
	.sixcol{width:48.618784527%}
	.sevencol{width:57.182320438000005%}
	.eightcol{width:65.74585634900001%}
	.ninecol{width:74.30939226%}
	.tencol{width:82.87292817100001%}
	.elevencol{width:91.436464082%}
	.twelvecol{width:99.999999993%}
	.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol,.twelvecol{
		position:relative;float:left;margin-left:2.762430939%
	}
	.first{margin-left:0}
	.last{float:right}
	.wrap{max-width:1048px}
	#menu-main_nav{
		font-size: 20px;  
	}
	.nav{background:#eee;border:0}
	.nav ul{
		margin-top:0;
	}
	.nav li{
		/*float:left;*/
		display: inline-block;
		position:relative;
	}
	.nav li a{
		background: #fff;
		border-bottom:0;
	}
	.nav li a:hover,.nav li a:focus{
		background-color:#29721f;
		color:#fff;
	}
	#menuToggle {
    	display: none;
    }
/*.nav li a:hover{
    animation: spinAroundX 1s ease-out;
}*/
	.nav li ul.sub-menu,.nav li ul.children{
		margin-top:0;
		border:1px solid #ccc;
		border-top:0;
		position:absolute;
		overflow:hidden;
		visibility:hidden;
		z-index:8999}
	.nav li ul.sub-menu li a,.nav li ul.children li a{
		padding-left:10px;
		border-right:0;
		display:block;
		width:180px;
		border-bottom:1px solid #ccc
	}
	.nav li ul.sub-menu li:last-child a,.nav li ul.children li:last-child a{
		border-bottom:0
	}
	.nav li:hover ul{top:auto;overflow:visible;visibility:visible}
	.sidebar{margin-top:2.2em}
	.widgettitle{border-bottom:2px solid #444;margin-bottom:0.75em}
	.widget{padding:0 10px;margin:2.2em 0}
	.widget ul li{
		margin-bottom:0.75em
	}
	.widget ul li ul{
		margin-top:0.75em;padding-left:1em
	}
	div#inner-header img{
		width: 125px;
		transition: all .5s ease-out;
	}
	div#inner-header img.mainLogo{
		width: 200px;
		transition: all .5s ease-out;
	}
	#homeSide{
		width: 38%;
	}
	#homeBlog{
		width: 60%;
	}
	#homeFooter{
		width: 60%;
	}
}

@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}
	a,a:visited{color:#444 !important;text-decoration:underline}
	a:after,a:visited:after{content:" (" attr(href) ")"}
	a abbr[title]:after,a:visited abbr[title]:after{content:" (" attr(title) ")"}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
	pre,blockquote{border:1px solid #999;page-break-inside:avoid}
	thead{display:table-header-group}
	tr,img{page-break-inside:avoid}
	img{max-width:100% !important}
	@page{margin:0.5cm}
	p,h2,h3{orphans:3;widows:3}
	h2,h3{page-break-after:avoid}
.sidebar,.page-navigation,.wp-prev-next,.respond-form,nav{display:none}
}


h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	font-weight: 300;
	color: #005568;
	text-transform: uppercase;
}
.promo_slider_title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px!important;
	font-weight: 300!important;
	color: #005568!important;
	text-transform: uppercase;
}
h2,h3,h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 36px;
}

a{
	color: #005568;
}

 /***************************************
***************************************
 Custom CSS
***************************************
 ***************************************/

 /***************************************
 Body/All
 ***************************************/
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
 body{ 
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 16px;
 	background: #f1f1f1;
 }
 /***************************************
 Header and nav
 ***************************************/
 header.header{
 	background-color: #fff; 
	/*background-image:
	linear-gradient(#ccc .1em, transparent .1em);
	background-size: 100% 2.9em;*/
 	position: relative;
 }
#menu-main_nav{
	position: relative;
	background-color: #fff;
	text-transform: uppercase;
	text-align:center;
	max-width: 700px;
	margin: 0px auto;
	border-top: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	z-index: 10;
}
#logo{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

/***************************************
 Blog Page
 ***************************************/
.page-template-page-blog-php .blogPost{
	padding: 25px;
	background: #f8f8f8;
	margin-bottom: 25px;
	border-top: 1px solid #ddd; 
}
.category-blog h2.page-title{
	margin-top: 0px;
}
.category-blog h3{
	font-size: 28px; 
	font-weight: normal;
	margin: 0px 0px 15px 0px;
}
.category-blog h4{
	text-transform: none;
	font-size: 24px; 
	font-weight: 300;
	margin: 0px 0px 10px 0px;
}

/***************************************
 Home Page
 ***************************************/

#homeBlog{
	min-height: 1000px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}
#homeBlog .article-header{
	border-top: 1px solid #ddd;
}
#homeFooter{
	position: relative; 
	height: 95px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 15px;
	background: #29721f url('../images/westphalLogoTemp.png') no-repeat 10% center;
}
#homeFooter h1{
	margin-left: 35px;
	width: 90%;
}
#homeFooter a{
	width: 100%;
	height: 100%;
}
#homeFooter span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#homeBlog>div{
	padding: 0px 35px;
}
#homeBlog>h1{
	padding: 15px 35px 0px 35px; 
	margin-bottom: 1px;
}
#homeBlog article{
}
#homeBlog section{
	margin-top: -20px;
}
.excerpt-read-more{
	background: #fff;
	border: 1px solid #005568;
	border-radius: 5px;
	padding: 10px;
	width: 110px;
	text-align: center;
	text-decoration: none;
	margin-top: 10px;
	display: block;
	float: right;
	transition: all .2s ease-out;
}
.excerpt-read-more:hover{
	border: 1px solid #ddd;
	background: #29721f;
	color: #fff;
}
.excerpt-read-more a:hover , .excerpt-read-more a:focus {
	color: #fff!important;
}
#homeSide{
	height: 1250px;
	float: right;
	border-radius: 5px;
}
.sideCta{
	height: 200px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 15px;
}
.sideCta h1{
	padding: 15px 0px 0px;
	border-bottom: 1px solid #ddd;
	margin-left: 35px; 
	width: 80%;
}
#homeListen{
	height: 570px;

}
.homeArtist{
	padding-left: 35px;
	padding-bottom: 20px;
	width: 325px;
	text-align: left;
}
.homeArtist a{
	text-decoration: none;
}
.homeArtist a:hover{
	color: #29721f;
}
.allArtists{
	background: #fff;
	border: 1px solid #005568;
	border-radius: 5px;
	padding: 10px;
	width: 110px;
	text-align: center;
	text-decoration: none;
	margin: -10px auto;
	display: block;
	transition: all .5s ease-in-out 0.2s;
}
.allArtists:hover,.allArtists:focus{
	border: 1px solid #ddd;
	background: #29721f;
	color: #fff!important;

}
.blogPostThumb{
	max-width: 150px;
	float: left;
	margin-top: 42px;
	margin-right: 18px;
}
#homeWatch{
	height: 300px;
}
#homeWatch div{
	width: 300px;
	height: 225px;
	background: url('../MIP_Studio_A_Promo-Shot_link.jpg');
	margin-left: 35px;
}
#homeGallery{
	height: 400px;
}
#homeGallery div{
	width: 300px;
	height: 225px;
	background: url('../MIP_Studio_A_Promo-Shot_link.jpg');
	margin-left: 35px;
}

 /***************************************
 Artist Page
 ***************************************/
 .listArtists{
 	max-width: 960px;
 	margin: 0px auto;
 }
.artistListing{
	position: relative;
	display: inline-block;
	color: black;
	width: 276px;
	height: 276px;
	border: 1px solid #005568;
	border-radius: 138px;
	text-decoration: none;
	padding: 10px 13px 10px 13px;
	margin: 0px 40px 40px 0px;
	background: #fff;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	
}
.artistListing:hover{
	box-shadow:
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);

}
.artistListing .listingTitle{
	text-decoration: none;
	position: absolute;
	left: 10px;
	top: 82px;
	width: 250px;
	font-size: 20px;
	line-height: 1.2;
}
.artistListing .artistLink{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	border-radius: 138px;
	box-shadow:
        inset 0 0 0 1px rgba(71,151,60,0.1),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.artistListing .artistLink:hover{
	box-shadow:
        inset 0 0 0 10px rgba(41,114,13,1),
        0 1px 2px rgba(0,0,0,0.1);
}
.artistLink:hover a{
	-moz-animation: spinAround .5s linear;
	-webkit-animation: spinAround .5s linear;
    animation: spinAround .5s linear;
}
.artistListing article{
	height: 130px;
}
.thumbnail{
	width: 300px;
	height: 73px;
	background: #444;
	text-align: center;
	/*margin: 5px auto;*/
	position: absolute;
	top: 130px;
	left: 0px;
}
.thumbnail img{
	position: absolute;
	left: 13px;
}
.artistSocial{
	position: absolute;
	width: 90px;
	top: 220px;
	left: 103px;
	z-index: 20;
	text-align: center;
}
.artistSocial a{
	margin-right: 12px;
	position: relative;
}
.album h4{
	margin-top: 20px;
	margin-bottom: 10px;
}
#currentArtists{

}
#pastArtists{

}
 /***************************************
 Media Page/s
 ***************************************/
#mediaLinks{
	margin: 20px auto;
	width: 100%;
	text-align: center;
}
.divLink{
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-right: 40px;
	border: 1px solid #005568;
	border-radius: 150px;
	display: inline-block;
	background: #fff;
	text-align: center;
}
.divLink a{
	text-decoration: none;
	position: relative;
	bottom: 20px;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 150px;
	top: -16px;
}
.divLink a:hover p, .divLink a:hover h3,.divLink a:focus p, .divLink a:focus h3{
	letter-spacing: 2px;
	color: #fff;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.divLink a:hover{
	background: #29721f;
	transition: all .2s linear;
}
.divLink h3{
	position: relative;
	bottom: -5px;
}
.divLink p{
	position: relative;
	top: 50px;
}
.divLink span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#videoLink p:before{
	font-family: Flaticon;
	position: relative;
    font-size: 85px;
	font-style: normal;
	content: "\e00d";	
	transition: all .5s ease-in-out 0.2s;
}
#musicLink p:before{
	font-family: Flaticon;
	position: relative;
    font-size: 85px;
	font-style: normal;
	content: "\e00f";		
	transition: all .5s ease-in-out 0.2s;
}
/*#photoSVG{
	height: 64px;
	width: 64px;
	background: url('../images/landscape.svg') center no-repeat;
	background-size: 
	margin: 0px auto;

}*/
#photosLink p:before{
	font-family: Flaticon;
	position: relative;
	bottom: -3px;
	right: 1px;
    font-size: 85px;
	font-style: normal;
	content: " \e002";	
	transition: all .5s ease-in-out 0.2s;
}
.divLink a:hover p{
	-moz-animation: spinAround .5s linear;
	-webkit-animation: spinAround .5s linear;
    animation: spinAround .5s linear;
}


@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotateY(0deg)
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinAroundX {
    from {
        transform: rotateX(0deg)
    }
    to {
        transform: rotateX(360deg);
    }
}
 /***************************************
 Music Page Links
 ***************************************/
 .ttw-music-player{
 	width: 550px!important;
 }
 .player.jp-interface{

 }
 .ttw-music-player .track-info {
    width: 365px!important;
    margin: 5px 0px 15px 0px!important;
    float: left!important;
    font-size: 12px;
}
.ttw-music-player .player-controls .main {
    width: 120px!important;
    height: 36px!important;
    margin: 6px!important;
}
.ttw-music-player .player-controls {
	width: 285px!important;
	height: 65px!important;
	background: #fff!important;
	border: 1px solid #005568;
	margin: 12px 0px!important;
}
.ttw-music-player .play{
	background: url('../images/play43.png') no-repeat center center transparent!important;
}
.ttw-music-player .play, .ttw-music-player .pause {
	width: 32px!important;
	height: 32px!important;
}
.ttw-music-player .previous, .ttw-music-player .next {
    height: 32px!important;
    width: 32px!important;
}
.ttw-music-player .pause{
    background: url('../images/circular7.png') no-repeat center center transparent!important;
}
.ttw-music-player .previous {
	background: url('../images/prev.png') no-repeat center center transparent!important;
}
.ttw-music-player .next {
	background: url('../images/player.png') no-repeat center center transparent!important;
}
.ttw-music-player .progress-wrapper {
margin-top: 19px!important;
top: -22px!important;
position: relative!important;
}
.ttw-music-player .tracklist{
	color: #005568!important;
	font-family: 'Source Sans Pro', sans-serif!important;
}

.ttw-music-player .player .title{
	color: #005568!important;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 32px!important;
	font-weight: 300!important;
	line-height: 1.2;
}
.ttw-music-player .tracklist li:hover{
	color: #47973C!important;
}
.ttw-music-player .artist-outer{
	color: #005568!important;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 16px!important;
}
.ttw-music-player .artist{
	color: #005568!important;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 20px!important;
}
#listAlbums{
	width: 100%;
	position: relative;
	height: 1000px;
}
.albumListing{
	width: 170px;
	position: relative;
	height: 185px;
	display: inline-block;
	margin: 0px 20px 80px 0px;
}
.albumThumbnail{
	width: 124px;
	height: 124px;
	overflow: hidden;
	border-radius: 62px;

}
.albumThumbnail a{
	position: absolute;
	top: 0;
	left: 0;
	width: 124px;
	height: 124px;
	overflow: hidden;
	border-radius: 62px;
    z-index: 50;
}
.albumThumbnail:hover{
	
}
.albumArtistLink{
	
}
.hoverEffect{
	position: absolute;
	border-radius: 62px;
	top: 0;
	left: 0;
	width: 124px;
	height: 124px;
	z-index: 100;	
	box-shadow:
        inset 0 0 0 1px rgba(71,151,60,0.1),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.hoverEffect:hover{
	box-shadow:
        inset 0 0 0 10px rgba(41,114,13,1),
        0 1px 2px rgba(0,0,0,0.1);
}
.albumListing article{
	position: absolute;
	left: 0;top:0;right:0;bottom: 0;
	margin: auto;
	width: 125px;
	height: 173px;
	text-align: center;
}
.albumLink, .albumLink:visited{
	text-decoration: none;
	font-size: 20px;
	color: #000;
}
.albumLink:hover{
	text-decoration: underline;
}
	

 /***************************************
 Music Individual Pages
 ***************************************/
 #albumByLine{
 	margin: -32px 0px 15px 0px;
 }
 .by{
 	font-style: italic;
 	font-size: 16px;
 	font-weight: 300;
 	margin-right: 6px;
 }
 .albumArtist{
 	font-size: 24px;
 	margin-right: 11px;
 	text-transform: uppercase;
 	color: #000;
 }
 .released{
 	font-size: 18px;
 	font-weight: 400;
 }
 .postPageThumb{
 	float: left;
	margin-right: 20px;
	margin-top: 20px;
 }
 /***************************************
 Home Media Links
 ***************************************/
#mediaLinksHome{
	margin: 20px auto;
	text-align: center;
	position: relative;
	left: 31%;
}
.homepage .divLink{
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid #005568;
	border-radius: 75px;
	display: block;
	clear: both;
	background: #fff;
	text-align: center;
	margin-bottom: 15px;
}
.homepage .divLink a{
	text-decoration: none;
	position: relative;
	bottom: 20px;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	top: -16px;
}
.homepage .divLink a:hover p,.homepage .divLink a:hover h3{
	letter-spacing: 2px;
	color: #fff;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.divLink a:hover{
	background: #29721f;
	transition: all .2s linear;
}
.homepage .divLink h3{
	position: relative;
	bottom: 15px;
	font-size: 24px;
}
.homepage .divLink p{
	position: relative;
	top: 20px;
}
.divLink span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.homepage #videoLink p:before{
	font-family: Flaticon;
	position: relative;
    font-size: 55px;
	font-style: normal;
	content: "\e00d";	
	transition: all .5s ease-in-out 0.2s;
}
.homepage #musicLink p:before{
	font-family: Flaticon;
	position: relative;
    font-size: 55px;
	font-style: normal;
	content: "\e00f";		
	transition: all .5s ease-in-out 0.2s;
}
#post-not-found{
	padding-left: 35px;
}
#post-not-found h1{
	font-size: 26px;
}
/*#photoSVG{
	height: 64px;
	width: 64px;
	background: url('../images/landscape.svg') center no-repeat;
	background-size: 
	margin: 0px auto;

}*/
.homepage #photosLink p:before{
	font-family: Flaticon;
	position: relative;
	bottom: -3px;
	right: 1px;
    font-size: 55px;
	font-style: normal;
	content: " \e002";	
	transition: all .5s ease-in-out 0.2s;
}
.divLink a:hover p{
	-moz-animation: spinAround .5s linear;
	-webkit-animation: spinAround .5s linear;
    animation: spinAround .5s linear;
}
 /***************************************
 Artists
 ***************************************/
 .category-artists #artistPageSocial{
 	width: 100%;
 	position: relative;
 	top: 0px;
	left: px;
	height: 80px;
 }
  #artistPageSocial a{
 	margin: 5px;
 	position: relative;
 	top: 12px;
 }
 #artistPageSocial{
	margin-bottom: 20px;
 }
 .postThumb{
 	position: relative;
 	top: -20px;
 }
 .artistPageThumb{
 	float: left;
 	margin-right: 20px;
 }
/***************************************
 Twitter
 ***************************************/
 .timeline-footer{
 	display: none!important;
 }
 /***************************************
 Videos
 ***************************************/
.tubepress_thumb {
	margin-bottom: 50px;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 16px!important;
	overflow: visible!important;
}

.entry-content dd{font-size:1.1em!important;}
dd.tubepress_meta_title, dd.tubepress_meta_title a, dd.tubepress_meta_title a:hover {
	font-size: 16px!important;
	margin-top: 4px!important;
}
/*.tubepress_normal_embedded_wrapper{
	background: #29721f;
}*/
 /***************************************
 Photos
 ***************************************/
.ngg-gallery-thumbnail{
	margin: 10px 45px 10px 0px;

}
.slideshowlink{
	border: 1px solid #005568;
	border-radius: 5px;
	padding: 10px;
	width: 150px;
	text-align: center;
}
.slideshowlink a{
	text-decoration: none;
}
 /***************************************
 Events Page
 ***************************************/

 /***************************************
 About Page
 ***************************************/
#aboutHeadline{
	font-size: 30px;

}
#aboutContent{
	position: relative;
}
#aboutContent p{
	max-width: 600px;
}
#about2{
	max-width: 100%;
}
#aboutList{
	max-width: 600px;
	float: right;
	margin-top: 20px;
}
#aboutList ul li{
	list-style-type: circle; 
}
#aboutPhoto{
	background: url('../MIP_Studio_A_Promo-Shot.jpg') #444;
	display: block;
	color: #fff;
	background-size: 300px;
	height: 250px;
	width:250px;
	border-radius: 125px;
	border: 12px solid #47973C;
	position: absolute;
	left: 650px;
	top: 50px;
}
#aboutPhoto2{
	background: url('../MIP_Studio_A_console_faders.JPG') center #444;
	display: block;
	color: #fff;
	background-size: 100%;
	height: 350px;
	width:350px;
	border-radius: 175px;
	border: 12px solid #47973C;/* dark green */
	position: absolute;
	margin-top: 20px;
}


@media only screen and (max-width:920px){
	#aboutPhoto{
		display: none;
	}
	#aboutPhoto2{
		display: none;
	}
	#aboutContent p{
		width: 100%;
	}
	#about2{
		float: none;
	}
	#aboutList{
		float: none;
		width: 100%;
	}
	.wrap{
		width: 98%;
	}


}
 /***************************************
 Flat Icons
 ***************************************/
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}.flaticon-about:before {
	content: "\e000";
}
.flaticon-blogging:before {
	content: "\e001";
}
.flaticon-box5:before {
	content: "\e002";
}
.flaticon-calendar7:before {
	content: "\e003";
}
.flaticon-disc15:before {
	content: "\e004";
}
.flaticon-headphones11:before {
	content: "\e005";
}
.flaticon-id2:before {
	content: "\e006";
}
.flaticon-image54:before {
	content: "\e007";
}
.flaticon-landscape:before {
	content: "\e008";
}
.flaticon-man204:before {
	content: "\e009";
}
.flaticon-music70:before {
	content: "\e00a";
}
.flaticon-music94:before {
	content: "\e00b";
}
.flaticon-music97:before {
	content: "\e00c";
}
.flaticon-play43:before {
	content: "\e00d";
}
.flaticon-quavers:before {
	content: "\e00e";
}
.flaticon-sound18:before {
	content: "\e00f";
}
.flaticon-vintage31:before {
	content: "\e010";
}
.flaticon-volume30:before {
	content: "\e011";
}




/****** Blog ******/
#menu-item-288 a:before{
	content: "\e001";
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	/*margin-left: 20px;*/
}
#menu-item-288 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Blog //Live ******/
#menu-item-104 a:before{
	content: "\e001";
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	/*margin-left: 20px;*/
}
#menu-item-104 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Artists ******/
#menu-item-6 a:before{
	content: "\e000";
	font-family: Flaticon;
    font-size: 17px;
    position: relative;
	left: -3px;
	bottom: 1px;
	font-style: normal;
	/*margin-left: 20px;*/
}
#menu-item-6 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Artists //live ******/
#menu-item-156 a:before{
	content: "\e000";
	font-family: Flaticon;
    font-size: 17px;
    position: relative;
	left: -3px;
	bottom: 1px;
	font-style: normal;
	/*margin-left: 20px;*/
}
#menu-item-156 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Media ******/
#menu-item-33>a:before{
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	/*margin-left: 20px;*/
	content: "\e00c";
}
#menu-item-33 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Media //live ******/
#menu-item-106>a:before{
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	/*margin-left: 20px;*/
	content: "\e00c";
}
#menu-item-106 a{
	padding-top: 15px;
	padding-bottom: 12px;
}
/****** Events ******/
#menu-item-39 a:before{
	font-family: Flaticon;
	position: relative;
	bottom: -2px;
    font-size: 25px;
	font-style: normal;
	/*margin-left: 20px;*/
	content: "\e003";
}
/****** About ******/
#menu-item-38 a:before{
	font-family: Flaticon;
	position: relative;
	bottom: -3px;
	right: 1px;
    font-size: 25px;
	font-style: normal;
	/*margin-left: 20px;*/
	content: "\e006";	
}
/****** About //live******/
#menu-item-103 a:before{
	font-family: Flaticon;
	position: relative;
	bottom: -3px;
	right: 1px;
    font-size: 25px;
	font-style: normal;
	/*margin-left: 20px;*/
	content: "\e006";	
}
@media only screen and (min-width: 481px){
	.entry-content .alignleft,.entry-content img.alignleft{
		margin-right:1.5em;display:inline;float:left
	}
.entry-content .alignright,.entry-content img.alignright{
	margin-left:1.5em;
	display:inline;
	float:right}
.entry-content .aligncenter,.entry-content img.aligncenter{
	margin-right:auto;
	margin-left:auto;
	display:block;
	clear:both}
}
@media only screen and (max-width: 800px){
	  #content{
	    margin-top: 0px;
	  }
	div#inner-header img{
		width: 50px;
	}
	div#inner-header img.mainLogo{
		width: 100px;
	}
	#colorStrip{
		bottom: 6px;
		height: 5px;
	}
	nav{
		width: 200px;
		float: left;
    	position: absolute;
    	z-index: 100;
    	left: -200px;
    	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
    	transition: all 0.3s ease;
	}
	#menu-main_nav{
		font-size: 16px;
	}
	.open {
    	left: 0px;
  	}
  	ul.sub-menu{
	    margin: 0px;
	}
	.nav li{
		text-align: left;
	}
	.nav li ul.sub-menu li a{
		text-align: left;
		padding-left: 35px;
	}
	.nav li a:hover,.nav li a:focus{
		background-color:#29721f;
		color:#fff;
	}
  	.openBody {
    	margin-left: 200px;
  	}
  	#menuToggle {
    	display: block !important;
    	height: 50px;
    	width: 50px;
    	border-radius: 25px;
    	background:  #000 url('../images/iconBars.png') no-repeat center center;
    	border:0;
    	position: absolute;
    	z-index: 9999;
    	left: 10px;
    	top: 40px;
  	}
  	.homeDiv{
  		width: 100%;
  		float: left;
  		display: inline-block;
  		clear: both;
  	}
 	.homeDiv h1 {
    	padding: 0px 25px 0px;
    	font-size: 36px;
	}
	.homeDiv h2 {
    	font-size: 24px;
	}
	.homeArtist{
		padding-left: 10px;
		width: 250px;
	}
	.homeThumb a{
		border: 1px solid #fff;
	}
	.homeThumb a:hover{
		border: 1px solid #29721f;
	}
	#homeBlog{
		min-height: 800px;
		height: auto;
	}
  	#homeGallery div {
  		width: 265px;
  	}
  	#homeFooter {
    	/*height: 75px;*/
    }
  	#homeFooter h1{
		font-size: 20px;
		margin-left: 7px;
		padding: 0px;  
	}
	.sideCta{
  		width: 55%;
  		float:left;
  		min-width: 275px
  	}
  	#mediaLinksHome{
  		width: 35%;
  		float: right;
  		position: relative;
  		left: 0%
  	}
	.wrap{
		width: 100%;
	}
	body, html { overflow-x:hidden; }
	#homeSide{
		height: 600px;
	}
	#main{
		padding: 0px 20px;
	}
	.blogPostThumb{
		margin-top: 32px;
	}
}
@media only screen and (max-width: 480px){
	.sideCta{
  		width: 100%;
  		float:none;
  	}
  	.homeArtist{
		padding-left: 35px;
	}
  	#mediaLinksHome{
  		width: 100%;
  		float: none;
  		left: 26%;
  	}
	#homeSide{
		height: 1100px;
	}
	/*#homeBlog{
		height: 1100px;
	}*/
	#main{
		padding: 0px;
	}
	div#inner-header img{
		display: none;
	}
	div#inner-header img.mainLogo{
		width: 100px;
		display: block;
		margin: 20px auto;
	}
}

